{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" data-theme='light'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}{% endblock css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4b60c8a34d.js"></script>
    <title>Jocan Story {% block judul %}{% endblock judul %} Cuy</title>
</head>
<body>
    <div class= "judul">
        <h1>Jocan</h1>
        <a href="{% url 'story7:home' %}">Story 7</a>
        <a href="{% url 'story8:home' %}">Story 8</a>
        <a href="{% url 'story9:home' %}">Story 9</a>
        {% block content %}
        {% endblock %}
</body>
</html>