{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'home.css' %}">{% endblock css %}
{% block judul %}7{% endblock judul %}
{% block content %}
        <div class='toggle-btn'>
            <div class="inner-circle">
                <i class="fas round"></i>
            </div>
        </div>
    </div>
    <div class="heading">
        <h1>Halo lagi di web Jocan</h1>
    </div>
    <div class="isi">
        <div class='accordion'>
            <div class="container-accord">
                <div class="kotak" name='aktivitas'>
                    <h1>Aktivitas Jocan</h1>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="paragraph" name="isi-aktivitas">
                    <ul>
                        <li>Nugas</li>
                        <li>Panit</li>
                        <li>Nugas lagi ada TP3 aaaa</li>
                        <li>Panit lagi</li>
                        <li>Kapan bobonya :(</li>
                    </ul>
                </div>
            </div>
            <div class="container-accord">
                <div class="kotak" name='pengalaman'>
                    <h1>Pengalaman Kepanitiaan/Organisasi</h1>
                    <i class="fas fa-caret-down"></i>    
                </div>
                <div class="paragraph" name="isi-pengalaman">
                    <ul>
                        <li>Staf Biro Media BEM Fasilkom UI 2019</li>
                        <li>Staf Playground COMPFEST XI</li>
                        <li>Staf Bazkom CGT 2019</li>
                        <li>Staf Natal KMK UI 2018</li>
                        <li>Staf Badminton OLIM 2018</li>
                    </ul>    
                </div>
            </div>
            <div class="container-accord">
                <div class="kotak" name='prestasi'>
                    <h1>Prestasi Jocan</h1>
                    <i class="fas fa-caret-down"></i>   
                </div>
                <div class="paragraph" name="isi-prestasi">
                    <ul>
                        <li>Membuat orang lain tertawa dan tersenyum :)</li>
                        <li>Tidur nyenyak pas lagi gempa</li>
                        <li>Makan banyak tapi ga gendut-gendut</li>
                        <li>Abis begadang tapi ga ngantuk seharian (Awakened my eyes)</li>
                        <li>Sekian :), doakan Jocan ya gaes biar dapet prestasi yang lebih berguna dari ini semua</li>
                    </ul>  
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'home.js' %}"></script>
{% endblock %}