{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'story8.css' %}">{% endblock css %}
{% block judul %}8{% endblock judul %}
{% block content %}
</div>
    <h1>Halo lagi di web Jocan</h1>
    <div class='search'>
        <input type="text" placeholder="Search Title" id='search'>
        <div id="button"><i class="fas fa-search"></i></div>
    </div>
    <div id='result'>
        <table id='rslt-table'>

        </table>
    </div>
    <script src="{% static 'story8.js' %}"></script>
{% endblock %}