{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" data-theme='light'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'home.js' %}"></script>
    <script src="https://kit.fontawesome.com/4b60c8a34d.js"></script>
    <title>Jocan Story 7 & 8 Cuy</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>