html {
    scroll-behavior: smooth;
    --bg: #f7f7f7;
    --header : #2F4E73;
    --container: #72a5d3;
    --hitam: #323232;
    --hitam2: #424242;
    --hitam3: #212121;
    --font: #f7f7f7;
    --fonthead: #2F4E73;
    --fontbody: #f7f7f7;
    font-size: 18px;
}

html[data-theme='dark']{
    --bg: #212121;
    --header : #323232;
    --container: #424242;
    --font: #72a5d3;
    --fonthead: #72a5d3;
}

body {
    margin: 0vw;
    background-color: var(--bg);
}

.judul {
    display: flex;
    justify-content: center;
    background-color: var(--header);
    font-family: "Raleway";
    color: var(--font);
    align-items: center;
    padding: 0vh 2vw;
}

.judul a {
    color: #f7f7f7;
    font-family: "Raleway";
    text-decoration: none;
    font-weight: bold;
    margin-left: 12px;
}

.heading {
    color: var(--fonthead);
    display: flex;
    justify-content: center;
    font-family: "RaleWay";
    margin: 2vh 0;
}
.isi {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.container-accord {
    background-color: var(--container);
    border-bottom: 2px solid var(--bg);
}
.accordion {
    margin: 0vw;
    width: 40vw;
    text-align: center;
}

.kotak {
    background-color: var(--header);
    padding: 0 12px;
    margin: 0;
    font-family: "Raleway";
    color: var(--font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    cursor: pointer;
}

.kotak > i {
    font-size: 28px;
    color: var(--font);
}

.kotak > h1 {
    font-size: 20px;
}

.kebuka > i {
    transition: 0.6s;
    transform: rotate(-180deg);
    -webkit-transform:rotate(-180deg);
}

.ketutup > i {
    transition: 0.6s;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
}

.paragraph {
    text-align: left;
    font-family: "Nunito";
    padding: 2vh 0;     
    color: var(--fontbody);
}

.paragraph > ul {
    margin: 0 2px;
}

.toggle-btn {
    height: 24px;
    width: 64px;
    background-color: #f7f7f7;
    border-radius: 30px;
    padding: 4px;
    margin-left: auto;
    transition: 0.6s;
    cursor: pointer;
}

.toggle-btn > .inner-circle {
    background-color: #2F4E73;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: 0.6s;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    border-radius: 100%;
    height: 16px;
    width: 16px;
    background-color: var(--font);
}

.inner-circle > i {
    font-size: 16px;
}

.toggle-btn.active {
    background-color: #72a5d3;
}

.toggle-btn.active > .inner-circle {
    background-color: #f7f7f7;
    margin-left: 40px;
}

html.transition,
html.transition *, 
html.transition *:before,
html.transition *:after {
    transition: all 0.6s !important;
    transition-delay: 0 !important;
}

