html {
    font-family: 'Raleway';
    font-size: 18px;
}

body {
    margin: 0px;
}

.judul {
    display: flex;
    justify-content: flex-start;
    background-color: #2F4E73;
    font-family: "Raleway";
    color: #f7f7f7;
    align-items: center;
    padding: 0vh 2vw;
}

.judul h1 {
    color: #f7f7f7;
}

.judul a {
    color: #f7f7f7;
    font-family: "Raleway";
    text-decoration: none;
    font-weight: bold;
    margin-left: 12px;
}

h1 {
    text-align: center;
    color: #2F4E73;
}

#search {
    border-right: 0px;
}

input[type="text"] {
    border: 1px solid #9c9c9c;
    border-radius: 4px 0px 0px 4px;
    width: 360px;
    padding: 4px;
    font-family: "Nunito";
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

#button {
    background-color: #72a5d3;
    padding: 6px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0px 4px 4px 0px;
    width: 32px;
    text-align: center;
}

#button i {
    color: #f7f7f7;
}

#result {
    display: flex;
    justify-content: center;
}

#rslt-table {
    text-align: center;
    width: 100%;
    margin-top: 2vh;
}

table {
    border-collapse: collapse;
}

tr {
    transition: 0.4s;
}

th {
    border: 1px solid #9c9c9c ;
    background-color: #2F4E73;
    color: #f7f7f7;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

td {
    border: 1px solid #9c9c9c ;
    padding: 2vh;
    font-family: "Nunito";
    color: #323232;
}

#rslt-table tr:nth-child(even){background-color: #f2f2f2;}

#rslt-table tr:hover{background-color: #c9e3fa;}

td img {
    box-shadow: 0px 0px 8px #9c9c9c;
}