html {
    font-family: 'Raleway';
    font-size: 18px;
}

body {
    margin: 0px;
}

.judul {
    display: flex;
    justify-content: flex-start;
    background-color: #2F4E73;
    font-family: "Raleway";
    color: #f7f7f7;
    align-items: center;
    padding: 0vh 2vw;
}

.judul h1 {
    color: #f7f7f7;
}

.judul a {
    color: #f7f7f7;
    font-family: "Raleway";
    text-decoration: none;
    font-weight: bold;
    margin-left: 12px;
}