{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'story9.css' %}">{% endblock css %}
{% block judul %}9{% endblock judul %}
{% block content %}
</div>
    <h1>Halo lagi di web Jocan</h1>
    <h2>Log in KUY</h2>
    {% if form.errors %}
    {{error}}
    {% endif %}
    <form method="POST" action='{% url "story9:home" %}'>
        {% csrf_token %}
        <label>Username</label>
        <br>
        {{ form.username }}
        <br>
        <label>Password</label>
        <br>
        {{ form.password }}
        <br>
        <input type="submit" value="Log in" class="button">
    </form>
{% endblock %}