{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'story9.css' %}">{% endblock css %}
{% block judul %}9{% endblock judul %}
{% block content %}
</div>
    {% if user.is_authenticated %}
    <h1>Halo apa kabar {{user}}</h1> 
    <a href="{% url 'story9:logout' %}">
        <div class='logout'>
            Log out
        </div>
    </a>
    {% else %}
    <h1>You are not logged in.</h1>
    <a href="{% url 'story9:home' %}">
        <div class='login'>
            Log in
        </div>
    </a>
    {% endif %}

{% endblock %}